[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
django-storages = "*"
requests = "*"
gunicorn = "*"
boto3 = "*"

[dev-packages]
flake8 = "*"
yapf = "*"

[requires]
python_version = "3.9"
